.button {
  display: inline-block;
  font: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  text-align: center;
  color: @text-color;
  vertical-align: middle;

  background-color: @bg-color;
  border: 2px solid @text-color;

  cursor: pointer;

  &:hover,
  &:focus {
    color: @bg-color;
    background-color: @text-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
