.content-list__item {
  &--interior {
    background-color: @design-color;
  }

  &--toys {
    background-color: @design-dark-color;
  }
}

.content-list__link {
  font: inherit;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: @bg-color;

  &:active {
    opacity: 0.3;
  }
}
