.content-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 33px 24px 28px;

  &--interior {
    background-color: @design-color;
  }

  &--toys {
    background-color: @design-dark-color;
  }

  @media @tablet {
    width: 50%;
    align-items: stretch;
    padding: 27px 35px 33px 36px;
  }
}

.content-list__link {
  font: inherit;
  .text-options (19px, 24px, 700, @bg-color);
  display: block;
  width: 50%;

  &:active {
    opacity: 0.3;
  }

  @media @tablet {
    font-size: 20px;
    line-height: 30px;
  }

  @media @desktop {
    width: 25%;
  }
}

.content-list__svg {
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
