.content-list__item {
  &--interior {
    background-color: @design-color;
  }

  &--toys {
    background-color: @design-dark-color;
  }
}

.content-list__link {
  font: inherit;
  .text-options (19px, 24px, 700, @bg-color);

  &:active {
    opacity: 0.3;
  }
}
