.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 221px;
  padding-left: 36px;

  @media @tablet {
    width: 184px;
    padding: 0;
  }
}

.copyright__text {
  .text-options(19px, 18px, 700, @text-color-dark);
  display: block;
  padding-top: 20px;
  padding-bottom: 24px;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 43px;
  margin-left: 9px;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 0;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: @design-dark-color;
  }

  &:active .copyright__icon {
    opacity: 0.3;
  }

  @media @tablet {
    margin-left: 18px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: #63d1bb;
}
