.form__list {
  .list-reset();

  @media @tablet {
    margin-bottom: 38px;
  }

  @media @desktop {
    margin-bottom: 34px;
  }
}

.form__item {
  @media @tablet {
    padding-top: 66px;

    &--grey {
      background-color: @bg-grey-color;
    }

    &--less {
      padding-top: 0;
    }
  }
}

.form__wrapper {
  .container();
  .wrapper();
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media @tablet {
    flex-direction: row;
    align-items: flex-start;
  }

  @media @desktop {
    &--button {
      padding-left: 225px;
    }
  }
}

.form__item-title {
  .text-options(17px, 16px, 700, @design-color);
  display: flex;
  align-items: center;
  min-height: 35px;
  width: auto;
  margin: 0;
  margin-bottom: 24px;

  text-transform: uppercase;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    flex-grow: 1;
    margin-left: 21px;

    background-color: @design-color;
  }

  &--less {
    margin-bottom: 17px;
  }

  &--contacts {
    margin-bottom: 0;
  }

  &--add {
    margin-bottom: 15px;
  }

  @media @tablet {
    width: 167px;
    margin-top: -10px;

    &::after {
      display: none;
    }
  }

  @media @desktop {
    width: 175px;
    padding-left: 60px;
  }
}

.form__option {
  .list-reset();

  @media @tablet {
    width: 500px;
    flex-grow: 1;
  }
}

.form__small {
  .text-options(14px, 16px, 400, @text-color);
  margin-bottom: 31px;

  @media @tablet {
    width: auto;
    order: 1;
    padding-top: 10px;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  padding: 15px 32px 13px 28px;
  margin-bottom: 55px;

  @media @tablet {
    width: auto;
    margin-right: 139px;
    margin-bottom: 50px;
  }

  @media @desktop {
    margin-right: 172px;
  }
}
