.form__list {
  .list-reset();
}

.form__item {
  @media @tablet {
    padding-top: 65px;

    &--grey {
      background-color: @bg-grey-color;
    }

    &--text {
      padding-top: 10px;
    }
  }
}

.form__wrapper {
  .container();
  .wrapper();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media @tablet {
    flex-direction: row;
  }
}

.form__item-title {
  .text-options(17px, 16px, 700, @design-color);
  min-height: 35px;
  margin: 0;
  margin-bottom: 17px;

  text-transform: uppercase;

  &--less {
    margin-bottom: 10px;
  }

  &--contacts {
    margin-bottom: 3px;
  }

  &--add {
    margin-bottom: 6px;
  }

  @media @tablet {
    width: 167px;
    outline: 2px solid maroon;
  }
}

.form__option {
  .list-reset();

  @media @tablet {
    width: 500px;
    flex-grow: 1;
    outline: 2px solid indigo;
  }
}

.form__small {
  .text-options(14px, 16px, 400, @text-color);
  margin-bottom: 31px;
}

.form__button {
  padding: 15px 15px 13px 15px;
  margin-bottom: 55px;
}
