.logo {
  display: block;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid @border-color-table;
  outline: 2px solid mediumaquamarine;

  @media @tablet {
    width: 370px;
    height: 88px;
  }

  @media @desktop {
    height: 89px;
  }
}
