.logo {
  display: block;
  height: 80px;
  border-bottom: 1px solid @border-color-table;
  outline: 2px solid mediumaquamarine;

  @media @tablet {
    height: 88px;
  }

  @media @desktop {
    /* Временно для сетки */
    min-height: 89px;
  }
}
