.main-nav {
  @media @tablet {
    .wrapper();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
  }

  @media @desktop {
    justify-content: flex-start;
  }
}

.main-nav__wrapper-button {
  .container();
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  bottom: 31px;
  right: 31px;
  display: block;
  width: 20px;
  height: 18px;
  z-index: 100;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media @tablet {
    display: none;
  }

  @media @desktop {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: #221f1f;
  box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 7px;
    left: -3px;

    width: 27px;
    height: 2px;

    background-color: #221f1f;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: auto;

  .list-reset();

  &--order {
    position: relative;
  }

  &--promotion {
    display: none;
  }

  @media @tablet {
    flex-direction: row;
    align-items: flex-start;

    &--user {
      width: 352px;
      order: -1;
    }

    &--order {
      width: 430px;
      margin-bottom: -62px;
      z-index: 10;
    }
  }

  @media @desktop {
    &--order {
      width: 440px;
      margin-bottom: 0;
      z-index: 2;
      order: 0;
    }

    &--user {
      margin-left: auto;
      order: 1;
      border: none;
    }

    &--promotion {
      width: 450px;
      display: flex;
      align-items: flex-start;
      margin-bottom: -86px;
      z-index: 2;
      order: 2;
    }
  }
}

.main-nav__item {
  .container();
  width: 100%;

  background-color: @bg-color;
  border-bottom: 1px solid @border-color-table;

  &--basket {
    &:last-child {
      border: none;
    }
  }

  @media @tablet {
    width: auto;
    margin: 0;
    margin-right: 35px;

    background-color: transparent;
    border-bottom: none;

    &:last-child {
      margin-right: 0;
    }

    &--search {
      width: 84px;
      margin-left: auto;
      margin-right: 0;

      border-right: 1px solid @border-color-table;
      border-left: 1px solid @border-color-table;
    }

    &--basket {
      width: 265px;
      margin-right: 0;
    }
  }

  @media @desktop {
    &--catalog {
      margin-right: 71px;
    }

    &--incoming {
      margin-right: 63px;
    }
  }
}

.main-nav--closed .main-nav__item {
  @media @mobile-only {
    display: none;
  }
}

.main-nav--nojs .main-nav__item {
  @media @mobile-only {
    display: block;
  }
}

.main-nav__link {
  .container();
  position: relative;
  display: block;
  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: 27px;

  font: inherit;
  .text-options (17px, 24px, 700, @text-color-dark);

  &[href]:hover,
  &[href]:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media @tablet {
    width: auto;
    padding-left: 0;
    padding-top: 31px;
    padding-bottom: 32px;

    &--catalog,
    &--form {
      padding-top: 19px;
      padding-bottom: 19px;

      font-size: 15px;
    }

    &--search {
      min-height: 87px;
      font-size: 0;
    }

    &--basket {
      padding-left: 83px;
    }
  }

  @media @desktop {
    &--catalog,
    &--form {
      padding-top: 30px;
      padding-bottom: 30px;

      font-size: 17px;
    }

    &--incoming,
    &--sale {
      padding-top: 19px;
      padding-bottom: 19px;

      font-size: 15px;
    }
  }
}

.main-nav__icon {
  position: absolute;
  left: 30px;
  top: 31px;
  width: 21px;
  height: 18px;
  opacity: 0.2;
  fill: #231f20;

  @media @tablet {
    left: 32px;
    top: 36px;
  }
}

.main-nav__link[href]:hover .main-nav__icon,
.main-nav__link[href]:focus .main-nav__icon {
  fill: @design-color;
  opacity: 1;
}

.main-nav__link[href]:active .main-nav__icon {
  fill: @design-color;
  opacity: 0.3;
}

.main-nav__text {
  .p-model();
  display: none;

  @media @tablet {
    display: block;
    margin-left: auto;
    margin-bottom: -88px;
    padding-top: 19px;
    z-index: 10;
  }

  @media @desktop {
    margin-bottom: -86px;
    z-index: 2;
    order: 4;
  }
}
