.main-nav {
  display: flex;
  flex-direction: column;
  outline: 2px solid mediumpurple;
  height: 315px;


  @media @tablet {
    height: 88px;
  }

  @media @desktop {
    /* Временно для сетки */
    min-height: 150px;
  }
}

.main-nav__toggle {
  display: none;
  font-size: 0;
  border: none;
}

.main-nav__list {
  .list-reset();
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  @media @tablet {
    flex-direction: row;

    &--order {
      align-items: flex-start;
      width: 440px;
    }

    &--user {
      justify-content: flex-end;
      width: auto;
    }
  }
}

.main-nav__item {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid @border-color-table;
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font: inherit;
  .text-options (17px, 24px, 700, @text-color-dark);
  outline: 3px solid red;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
