.main-nav {
  @media @tablet {
    .wrapper();
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 9;
  }

  @media @desktop {
    z-index: 10;
  }
}

.main-nav__wrapper-button {
  .container();
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  bottom: 31px;
  right: 31px;
  display: block;
  width: 20px;
  height: 18px;
  z-index: 100;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media @tablet {
    display: none;
  }

  @media @desktop {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: #221f1f;
  box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 7px;
    left: -3px;

    width: 27px;
    height: 2px;

    background-color: #221f1f;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: auto;

  .list-reset();

  &--order {
    position: relative;
  }

  &--promotion {
    display: none;
  }

  @media @tablet {
    flex-direction: row;

    &--user {
      width: 100%;
      order: -1;
    }

    &--order {
      position: absolute;
      width: 398px;
      top: 75px;
      z-index: 10;
    }
  }

  @media @desktop {
    &--order {
      top: 0;
      width: 450px;
      z-index: 2;
    }

    &--user {
      border: none;
    }

    &--promotion {
      position: absolute;
      top: 75px;
      left: 50px;
      width: 450px;
      display: flex;
      align-items: flex-start;
      z-index: 2;
    }
  }
}

.main-nav__item {
  .container();
  width: 100%;

  background-color: @bg-color;
  border-bottom: 1px solid @border-color-table;

  &--basket {
    &:last-child {
      border: none;
    }
  }

  @media @tablet {
    width: auto;
    margin: 0;
    margin-right: 35px;

    background-color: transparent;
    border-bottom: none;

    &:last-child {
      margin-right: 0;
    }

    &--search {
      width: 84px;
      margin-left: auto;
      margin-right: 0;

      border-right: 1px solid @border-color-table;
      border-left: 1px solid @border-color-table;
    }

    &--search::before {
      top: 37px;
      left: 34px;
    }

    &--basket {
      padding-left: 83px;
      width: 265px;
    }

    &--basket::before {
      top: 34px;
      left: 32px;
    }
  }

  @media @desktop {
    &--catalog {
      margin-right: 71px;
    }

    &--incoming {
      margin-right: 63px;
    }
  }
}

.main-nav--closed .main-nav__item {
  @media @mobile-only {
    display: none;
  }
}

.main-nav--nojs .main-nav__item {
  @media @mobile-only {
    display: block;
  }
}

.main-nav__link {
  .container();
  position: relative;
  display: block;
  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: 27px;

  font: inherit;
  .text-options (17px, 24px, 700, @text-color-dark);

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &--search::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 33px;
    width: 18px;
    height: 18px;
    opacity: 0.2;

    background: url("../img/icon-search.svg") no-repeat;
  }

  &--basket::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 30px;
    width: 20px;
    height: 20px;
    opacity: 0.2;

    background: url("../img/icon-cart.svg") no-repeat;
  }

  @media @tablet {
    width: auto;
    padding-left: 0;
    padding-top: 31px;
    padding-bottom: 33px;

    &--basket::before {
      top: 34px;
      left: -51px;
    }

    &--search::before {
      top: 36px;
    }

    &--catalog,
    &--form {
      font-size: 15px;
    }

    &--search {
      font-size: 0;
    }
  }

  @media @desktop {
    &--catalog,
    &--form {
      font-size: 17px;
    }

    &--incoming,
    &--sale {
      font-size: 15px;
    }
  }
}

.main-nav__text {
  .p-model();
  position: absolute;
  right: 0;
  display: none;

  @media @tablet {
    display: block;
    padding-right: 50px;
    margin-top: 18px;
    top: 88px;
    z-index: 10;
  }

  @media @desktop {
    z-index: 2;
  }
}
