.option__list {
  .list-reset();
}

.option__item {
  position: relative;
  padding-left: 62px;
}

.option__label {
  .text-options(17px; 18px; 700; @text-color-dark);
}

.option__input + .option__radio::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid @text-color-dark;
  border-radius: 50%;
}

/* input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  margin-right: 17px;

  vertical-align: top;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked+label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 27px;
  margin-right: 13px;

  vertical-align: top;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled+label::before {
  opacity: 0.3;
}

input[type="checkbox"]:focus+label::before {
  outline: 2px solid #81b3d2;
}
 */
