.option__list {
  .list-reset();
}

.option__item {
  position: relative;
  padding-left: 62px;
}

.option__label {
  .text-options(17px; 18px; 700; @text-color-dark);
  line-height: 18px;
}

.option__input + .option__radio::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid @text-color-dark;
  border-radius: 50%;
}

.option__input:checked + .option__radio::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: @design-color;
  border: 2px solid @design-color;
  border-radius: 50%;
}

.option__input:focus + .option__radio::before {
  border: 2px solid @design-color;
}

.option__input:active + .option__radio::before {
  opacity: 0.3;
}
