.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;

  @media @tablet {
    .container();
    display: flex;
    flex-wrap: wrap;
  }
}
