.page-header {
  .container();
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;

  @media @tablet {
    height: 89px;
    border-bottom: 1px solid @border-color-table;
  }
}
