.page-footer {
  .wrapper();
  .container();
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @bg-grey-color;
}

.page-footer__social {
  border-bottom: 1px solid @border-color-footer;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}
