.production {
  min-height: 562px;
  border: 1px solid @border-color-table;

  @media @tablet {
    min-height: 808px;
  }
}

.production__title {
  .h2-model();
  font-size: 17px;
  line-height: 24px;
}

.production__text {
  .p-model();
  font-size: 13px;
}
