.production {
  .container();
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 58px;

  @media @tablet {
    .wrapper();
    margin-bottom: 63px;
  }

  @media @desktop {
    margin-bottom: 105px;
  }
}

.production__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 23px;
  text-align: left;

  border: 1px solid @border-color-table;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @media @tablet {
    padding-top: 0;
  }

  @media @desktop {
    position: relative;
    padding-top: 47px;
    padding-right: 57px;
  }
}

.production__title {
  .h2-model();
  position: relative;
  width: 200px;
  margin-bottom: 24px;
  padding-left: 60px;

  font-size: 17px;
  line-height: 24px;

  &::before {
    position: absolute;
    content: "";
    left: 3px;
    top: 5px;
    width: 32px;
    height: 29px;

    background: url("../img/icon-video.svg") no-repeat;
  }

  @media @tablet {
    width: 576px;
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      left: -4px;
      top: -5px;
    }
  }

  @media @desktop {
    width: 291px;
    margin-left: auto;
    padding-top: 49px;

    &::before {
      left: 61px;
    }
  }
}

.production__video {
  position: relative;
  width: 100%;
  margin-bottom: 22px;

  @media @tablet {
    height: 455px;
    margin-bottom: 38px;
    order: -1;
  }

  @media @desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }
}

.production__play {
  position: absolute;
  top: 131px;
  left: 79px;
  width: 101px;
  height: 77px;
  background: transparent url("../img/icon-play.svg") no-repeat;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }

  @media @tablet {
    top: 189px;
    left: 282px;
  }

  @media @desktop {
    left: 290px;
  }
}

.production__text {
  .p-model();
  width: 192px;
  margin-bottom: 24px;

  font-size: 13px;

  @media @tablet {
    width: 587px;
    margin-bottom: 36px;

    font-size: 15px;
    line-height: 30px;
  }

  @media @desktop {
    width: 231px;
    margin-left: auto;
    margin-bottom: 46px;
  }
}

.production__button {
  width: 192px;
  margin-bottom: 33px;
  padding: 14px 20px;

  @media @tablet {
    width: 585px;
    margin-bottom: 45px;
  }

  @media @desktop {
    width: 230px;
    margin-left: auto;
    margin-bottom: 59px;
  }
}
