.reviews {
  min-height: 650px;
}

.reviews__title {
  .h2-model();
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  .p-model();
  line-height: 30px;
}

.reviews__author {
  .text-options(17px, 30px, 400, @text-color);
  font-style: normal;

  &--name {
    .text-options(17px, 24px, 700, @text-color-dark);
  }
}

.reviews__prev,
.reviews__next {
  font-size: 0;
}
