.site-list__item {
  text-align: center;
  border-bottom: 1px solid @border-color-table;
}

.site-list__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font: inherit;
  .text-options (17px, 24px, 700, @text-color-dark);
  outline: 3px solid red;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
