.social-list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid @border-color-footer;

  @media @tablet {
    width: 180px;
    border-bottom: none;
  }
}

.social-list__item {
  width: 59px;
  font-size: 0;
}
