.list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

.h2-model() {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @text-color-dark;
}


/* дописать медиа-выражения тут

.wrapper (@width; @left; @right) {
  width: @width;
  padding-left: @left;
  padding-right: @right;
  margin: 0 auto;
} */
