@bg-color: #ffffff;
@bg-grey-color: #f1f1f1;
@border-color-table: #ececec;
@border-color-footer: #e5e5e5;
@text-color: #444444;
@text-color-dark: #000000;
@design-color: #63d1bb;
@design-dark-color: #56c3b2;
@tablet: ~"(min-width:768px)";
@desktop: ~"(min-width: 1150px)";
@mobile-only: ~"(max-width: 767px)";
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
